html {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

a {
    color: #2e2e5e;
    text-decoration: none;
    font-weight: bold;
}

ul {
    padding: 8px 16px;
    list-style: none;
}

li {
    padding: 4px;
}