html {
    background-color: #f5f5f5;
    font-family: sans-serif;
    margin: 16px auto;
    max-width: 800px;
    font-size: 20px;
}

.home {
    margin: 0 auto;
    padding: 32px;
}

.blog {
    background-color: white;
    border-radius: 5px;
    padding: 32px;
}

h1 {
    font-size: 28px;
    color: #202020;
    font-weight: 600;
}

#hello {
    cursor: pointer;
    display: inline-block;
}

#hello:hover {
    animation: wave 300ms;
    text-decoration: none;
}

@keyframes wave {
    25% { transform: rotate(30deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(30deg); }
}

a {
    color: #0366d6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 4px 0;
}

.blog-preview {
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 16px;

    cursor: pointer;
}

.blog-preview > h2 {
    font-size: 22px;
    margin-bottom: 16px;
}

.blog-preview > p {
    font-size: 14px;
    color: #444;
    font-weight: normal;
    text-transform: none;
}

.placeholder {
    background-color: #ccc;
    color: #ccc;
    margin-bottom: 8px;
    animation: fade-in-out infinite 2s;
    animation-iteration-count: infinite;
}

@keyframes fade-in-out{
    50% { opacity: 0.5; }
}

.link {
    cursor: pointer;
}