html {
    background-color: #f5f5f5;
    font-family: sans-serif;
    margin: 16px auto;
    font-size: 20px;
}

.home-page {
    margin: 0 auto;
    padding: 32px;
    max-width: 800px;
}

.blog-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.blog-post {
    max-width: 800px;
    width: 800px;
    background-color: white;
    border-radius: 5px;
    padding: 32px;
    margin-bottom: 16px;
}

h1 {
    font-size: 28px;
    color: #202020;
    font-weight: 600;
}

#hello {
    cursor: pointer;
    display: inline-block;
}

#hello:hover {
    animation: wave 300ms;
    text-decoration: none;
}

@keyframes wave {
    25% { transform: rotate(30deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(30deg); }
}

a {
    color: #0366d6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

li {
    padding-bottom: 8px;
}

.placeholder {
    display: block;
    margin-bottom: 4px;
}

.placeholder > span {
    background-color: #ccc;
    color: #ccc;
    margin-bottom: 8px;
    animation: fade-in-out infinite 2s;
    animation-iteration-count: infinite;
}

@keyframes fade-in-out{
    50% { opacity: 0.5; }
}

.link {
    cursor: pointer;
}
.blog-preview {
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 16px;

    cursor: pointer;
}

.blog-preview > h2 {
    font-size: 22px;
    margin-bottom: 16px;
}

.blog-preview > p, .blog-preview-small > p {
    color: #444;
    font-weight: normal;
    text-transform: none;
}

.blog-preview-small {
    background-color: white;
    border-radius: 5px;
    padding: 12px 8px;
    margin-left: 8px;
    display: inline-block;
    max-width: 400px;
    width: 400px;
}

.blog-preview-small.selected {
    opacity: 0.8;
}

.blog-preview-small > p, .blog-preview-small > h3 {
    margin: 4px 0;
}